<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
 <form method="POST" action="/team">
    <p>Team Name: <input></p>
    <p>Coach: <input></p>
    <p>Point Guard: <input></p>
    <p>Shooting Guard: <input></p>
    <p>Small Forward: <input></p>
    <p>Power Forward: <input></p>
    <p>Center: <input></p>
 </form>
 </body>
</html>


